*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    width: 1440px;
    height: 1024px;
    background:linear-gradient(45deg,#f39494,#fdc5c5);
    display: flex;
    justify-content: center;  
}
main{
    background-color: #fffefe;
    font-family: Open Sans, sans-serif;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040; 
    border-radius: 10px; 
    height: 582px;
    width: 573px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-top: 225px;
}

h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    color: #333333;
    padding-top: 72px;
}
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #666666;
    margin-bottom: 47px;
}
a{
    color: #089FE0;
}
.container{
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    width: 394px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
input::placeholder{
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #999999;
}
form input{
    width: 394px;
    background-color: #F5F5F5;
    height: 44px;
    margin-bottom: 22px;
    padding-left: 11px;
    border-style: none;
}
button{
    background-color: #089FE0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    height: 44px;
    margin-bottom: 22px;
    border: none;
    border-radius: 5px;
    width: 394px;
}
.email{
    border-radius: 5px;
}
.company{
    background-color: #FFFFFF;
    border-color: #F5F5F5;
    border-style:  solid;
    border-radius: 5px;
}
.form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 394px;
    column-gap: 1px;
    border-radius: 0px;
}
.form__name{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.form__surname {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.terms{
    text-decoration: none;
}

